# temp files
*~
*.swp
*.iml
*.ipr
*.iws

# IntelliJ Idea files
atlassian-ide-plugin.xml
.idea/
out/

# Eclipse files
.project
.settings
.classpath


# Gradle files
.gradle
temp/
build/

bower_components/
node_modules/